body > header {
  background-color: rgb(49, 49, 49);
  margin:0;
}

nav {
  display: flex;
}

/* NOTE: Select all <a>'s inside of a <nav> */
nav a {
  color: white;
  padding: 1em;
  text-decoration: none;
}

/* NOTE: Select all <a>'s in a "hovered" state, inside of a <nav> */
nav a:hover {
  background-color: rgb(61, 61, 61);
}
.titlepage {
	margin: 0;
	font-size: 48;
	
}

.posters {
	background-color: rgb(211,211,211);
	
	
}

.container {
    margin: 10px;
    width: 1150px;
    height: 1150px;
    line-height: 115px;
    text-align: center;
    border: 5px solid black;
}
.resize_fit_center {
    max-width:90%;
    max-height:80%;
    vertical-align: middle;
}